body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* змінено height на min-height */
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding-top: 50px; /* Виберіть бажаний відступ від верха сторінки */
  padding-bottom: 50px; /* Виберіть бажаний відступ від низу сторінки */
}

#numAlts, #numCriteria {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80px;
  text-align: center; /* Center form content */
}



.criteria-input, .Alt-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 90%;
}

#formCriteria {
  margin-top: 50px; /* Виберіть бажаний відступ від верха сторінки */
  margin-bottom: 50px; /* Виберіть бажаний відступ від низу сторінки */
  max-width: 1100px;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #d7d5d5;
}

#formAlt{
  margin-top: 50px; /* Виберіть бажаний відступ від верха сторінки */
  margin-bottom: 50px; /* Виберіть бажаний відступ від низу сторінки */
  max-width: 1100px;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #d7d5d5;
}

#alternativeInput1, 
#alternativeInput2,
#alternativeInput3,
#alternativeInput4,
#alternativeInput5,
#alternativeInput6,
#alternativeInput7,
#alternativeInput8,
#alternativeInput9 {


}
#criteriaInput1, 
#criteriaInput2,
#criteriaInput3,
#criteriaInput4,
#criteriaInput5,
#criteriaInput6,
#criteriaInput7,
#criteriaInput8,
#criteriaInput9 {


}
#resultsContainer {
  
  overflow: auto;
  display: inline-block;
  width: 100%;
  text-align: center; /* backgroun-color: #fbfbfb;
  width: 200px; */
}



#criteriaInputContainer, #AltInputContainer {
  background-color: #fbfbfb;
  width: 300px;
}

#autoFillCriteria, 
#autoFillMatrix,
#autoFillAlt,
#autoFillMatrixAlternative {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

#autoFillCriteria:hover,
#autoFillMatrix:hover,
#autoFillAlternative:hover,
#autoFillMatrixAlternative:hover {
  background-color: #cecece;
}



button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #c0bebe;
  border-radius: 10px;
}

#matrixInputContainerAlternative {
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
}

th, td {
  text-align: center;
  padding: 10px;
}




#resultsContainer {
  margin-top: 30px;
}

#IYVY {
  margin-top: 20px;
  font-size: 18px;
}
